* {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr 9fr;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 48px;
}

.logo > img {
    width: 48px;
    height: 48px;
    filter: invert();
}

.book-add {
    padding: 5px;
    background-color: rgb(255, 255, 255);
    justify-self: center;
    align-self: end;
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
}

.book-add > img {
    width: 100%;
    height: 100%;
}

.book-add:hover {
    background-color: gold;
}

.main-container {
    background-color: rgb(17, 17, 17);
    display: grid;
    grid-template-rows: 50px 1fr;
}

.books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.25fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, fit-content));
    justify-content: center;
    gap: 25px;
    padding: 25px;
}

.book {
    color: white;
    background-color: black;
    border: 2px solid rgb(255, 255, 255);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    position: relative;
    word-break: break-all;
    height: fit-content;
}

.book-delete {
    position: absolute;
    left: 1%;
    top: 2%;
    border: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

#read-toggle {
    font-weight: bold;
    cursor: pointer;
    width: fit-content;
}

#read-toggle:hover {
    filter: opacity(75%);
}

.book-read {
    color: rgb(0, 255, 0);
}

.not-read {
    color: red;
}

.book-delete > img {
    filter: invert();
    width: 100%;
    height: 100%;
}

.toggle-button {
    left: 8%;
}

.book-delete:hover {
    filter: invert();
}

.toggle-button:hover {
    border: 2px solid rgb(0, 255, 0);
    color: rgb(0, 255, 0);
}

#book-form {
    text-transform: capitalize;
}

#book-form > button[type='submit'] {
    position: absolute;
    bottom: 3%;
    right: 3%;
}

.cancel-form {
    position: absolute;
    top: 2%;
    right: 1%;
    padding: 2px;
    border: 1px solid white;
    background-color: black;
    color: white;
}

.cancel-form:hover, button[type='submit']:hover {
    filter: invert();
}

#book-form {
    display: none;
    gap: 8px;
    background-color: rgb(0, 0, 0);
    border: 2px solid white;
    color: white;
    padding: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 
.form-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    width: 100%;
} 

.form-field > input {
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
    color: white;
    padding: 4px;
}

.form-field:last-of-type {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button[type='submit'] {
    border: 1px solid white;
    padding: 5px;
    background-color: black;
    color: white;
    font-weight: bold;
}

